/node_modules
/public/js
/public/css
/public/fonts
/public/assets
/public/hot
/public/storage
/public/form-overtime
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock